# codeigniter cache
application/cache/*
!application/cache/index.html

# codeigniter logs
application/logs/*
!application/logs/index.html

# codeigniter .htaccess
!application/*/.htaccess

# sublime text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project