#==============================================================
#	DISABLE INDEX FOLDER
#==============================================================
	Options -Indexes
#--------------------------------------------------------------#



#==============================================================
#	DEFAULT TIMEZONE & MAX EXECUTION TIME
#==============================================================
	php_value date.timezone 'Asia/Jakarta'
	php_value max_execution_time 300
#--------------------------------------------------------------#



#==============================================================
#	CODEIGNITER HTACCESS RULE
#==============================================================
	RewriteEngine on
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule .* index.php/$0 [PT,L]
#--------------------------------------------------------------#



#==============================================================
#	APP CONFIGURATION : (Default Controller | Environment)
#==============================================================
	<IfModule mod_env.c>
		SetEnv DefaultController site
		SetEnv CI_ENV development
	</IfModule>
#--------------------------------------------------------------#